---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Section from '../components/Section.astro';
---


<Layout title="NUCOF">
	<Header></Header>
	<Section></Section>
	<Footer></Footer>
</Layout>
