<header>
    <div class="fixed bg-white dark:bg-black dark:text-white w-screen top-0 left-0 z-20 h-20 font-Poppins">
        <div class="justify-between flex items-center h-full flex-nowrap">
            <a  href="" 
                class="px-10 font-black 
                text-[2.5rem] leading-[5rem]">
                NUCOF
            </a>
            <button class="flex items-center justify-center cursor-pointer px-10 lg:hidden" id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" id="menu-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            
            <nav class="hidden lg:block lg:px-10" id="menu-nav">
                    <a href="" class=" lg:py-2 lg:px-3 lg:text-lg lg:leading-[5rem] lg:relative lg:hover:text-orange-500 lg:after:bg-orange-600 lg:after:content-[''] lg:after:absolute lg:after:h-1 lg:after:rounded lg:after:w-0 lg:after:left-0 lg:after:-bottom-1 lg:after:duration-300 lg:hover:after:w-full">
                        Proyectos
                    </a>
                    <a href="" class="lg:py-2 lg:px-3 lg:text-lg lg:leading-[5rem] lg:relative lg:hover:text-orange-500 lg:after:bg-orange-600 lg:after:content-[''] lg:after:absolute lg:after:h-1 lg:after:rounded lg:after:w-0 lg:after:left-0 lg:after:-bottom-1 lg:after:duration-300 lg:hover:after:w-full">
                        Servicios
                    </a>
                    <a href="" class="lg:py-2 lg:px-3 lg:text-lg lg:leading-[5rem] lg:relative lg:hover:text-orange-500 lg:after:bg-orange-600 lg:after:content-[''] lg:after:absolute lg:after:h-1 lg:after:rounded lg:after:w-0 lg:after:left-0 lg:after:-bottom-1 lg:after:duration-300 lg:hover:after:w-full">
                        Bio
                    </a>
                    <a href="" class="py-3 px-6 text-lg leading-[5rem] ml-2 bg-orange-600 rounded text-white hover:bg-orange-800">
                        Contáctanos
                    </a>
            </nav>
        </div>
    </div>
</header>
