<section class="dark:text-gray-100 background-radial-gradient overflow-hidden relative">
	<div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-evenly">
		<div class="flex flex-col justify-center  text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
			<h1 class="text-5xl font-bold sm:text-6xl pt-16 lg:pt-0 z-10">Impulsamos la transformación digital
				<span class="dark:text-orange-400">en tu empresa</span>
			</h1>
			<p class="mt-6 mb-8 text-lg sm:mb-12">Somos una consultora IT especializada en brindar soluciones tecnológicas a empresas de todos los tamaños.
				<br class="hidden md:inline lg:hidden">Nuestro equipo de profesionales altamente capacitados te ayudará a mejorar tu performance y eficiencia.
			</p>
			<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
				<a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded dark:bg-orange-400 dark:text-gray-900">Contáctanos</a>
			</div>
		</div>
		<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 relative z-10">
			<img src="../../assets/Business_SVG.svg" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
		</div>
		<div id="radius-shape-1" class="lg:h-[13.75rem] lg:w-[13.75rem] lg:left-8 absolute rounded-full shadow-lg overflow-hidden"></div>
    	<div id="radius-shape-2" class="lg:w-[18.75rem] lg:h-[18.75rem] lg:top-3/4 lg:right-[6.875rem] absolute shadow-lg rounded-full overflow-hidden"></div>
	</div>
</section>


	<style>
	  .background-radial-gradient {
		background-color: hsl(30, 41%, 15%);
		background-image: radial-gradient(650px circle at 0% 0%,
			hsl(30, 41%, 35%) 15%,
			hsl(30, 41%, 30%) 35%,
			hsl(30, 41%, 20%) 75%,
			hsl(30, 41%, 19%) 80%,
			transparent 100%),
		radial-gradient(1250px circle at 100% 100%,
			hsl(30, 41%, 45%) 15%,
			hsl(30, 41%, 30%) 35%,
			hsl(30, 41%, 20%) 75%,
			hsl(30, 41%, 19%) 80%,
			transparent 100%);
	  }
  
	  #radius-shape-1 {
		background: radial-gradient(#6b3000, #ff971f);
	  }
  
	  #radius-shape-2 {
		background: radial-gradient(#6b3000, #ff971f);
	  }
</style>